:root{
    --primary-color: #5032E6;
    --highlight-color: #8C7AEA;
    --background-color: #332B44;
}
html, body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: white;
}
nav{
    display: flex;
    gap: 2em;
    justify-content: right;
    align-items: center;
    margin-right: 5em;
    position: absolute;
    right: 0;
}
nav a{
    margin: 1.5em;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.35em;
}
.button{
    background-color: var(--primary-color);
    padding: 0.75em 0;
    border-radius: 25px;
    width: 225px;
    text-align: center;
}
.box-shadow{
    box-shadow: 6px 6px 2px 2px black;
}
main, article{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}
main{
    width: 100%;
    height: 100%;
    background-image: url('/img/curve.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
}
main > *{
    position: relative;
    left: 300px;
}
h1{
    font-size: 5em;
    margin: 0;
}
h2{
    font-size: 1.35em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    font-weight: 500;
    max-width: 600px;
}
.highlight{
    color: var(--highlight-color);
}
article#bg{
    background-image: url('/img/curve2.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
}